* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #1a1919;
  color: #df1111;
}

#chat {
  width: 400px;
  height: 520px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}

#messages {
    background-color: #dcdcdc;
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 10px;
}

#input {
  height: 44px;
  padding: 0 12px;
  border-radius: 10px;
  border: 1px solid #333;
  outline: none;
  background: #0b0b0b;
  color: #080505;
  background-color: #dcdcdc;
}

#send {
  height: 44px;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  background-color: #e33232;
}

/* Tin nháº¯n */
#messages div { margin: 6px 0; }
.user { color: #4caf50; }
.bot  { color: #03a9f4; }